<!-- nav.component.html -->
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://yt3.ggpht.com/9CyzK1iMZ1o2A1wGrlt1eDb2potuavgRMzjnrn57yhFDOFzK9E8hwhZ0f1FT9P_axgB3HRmG3A=s176-c-k-c0x00ffffff-no-rj-mo" alt="Bootstrap" class="rounded img-fluid" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">Woxicom Media</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Presentacion</a>
        <a class="nav-link" href="#">Programas</a>
      </div>
    </div>
  </div>
</nav>
